 /vendor/
/node_modules/
/storage/*.key
/storage/logs/*
/storage/cache/*
.env
.env.*.local
.env.docker
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
mysql_data/